[submodule "lib/vim/all-bundles/delimitMate"]
	path = lib/vim/all-bundles/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "lib/vim/all-bundles/vim-node"]
	path = lib/vim/all-bundles/vim-node
	url = git@github.com:moll/vim-node.git
[submodule "lib/vim/all-bundles/sideways.vim"]
	path = lib/vim/all-bundles/sideways.vim
	url = git@github.com:AndrewRadev/sideways.vim.git
[submodule "lib/vim/all-bundles/vim-surround"]
	path = lib/vim/all-bundles/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "lib/vim/all-bundles/vim-go"]
	path = lib/vim/all-bundles/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "lib/vim/all-bundles/vim-endwise"]
	path = lib/vim/all-bundles/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "lib/vim/all-bundles/vim-scala"]
	path = lib/vim/all-bundles/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "lib/vim/all-bundles/gyp.vim"]
	path = lib/vim/all-bundles/gyp.vim
	url = git@github.com:kelan/gyp.vim.git
[submodule "lib/vim/all-bundles/neocomplete"]
	path = lib/vim/all-bundles/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "lib/vim/all-bundles/nerdcommenter"]
	path = lib/vim/all-bundles/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "lib/vim/all-bundles/nerdtree"]
	path = lib/vim/all-bundles/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "lib/vim/all-bundles/vim-javascript"]
	path = lib/vim/all-bundles/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "lib/vim/all-bundles/vim-json"]
	path = lib/vim/all-bundles/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "lib/vim/all-bundles/vim-rails"]
	path = lib/vim/all-bundles/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "lib/vim/all-bundles/vim-ruby"]
	path = lib/vim/all-bundles/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "lib/vim/all-bundles/vim-rspec"]
	path = lib/vim/all-bundles/vim-rspec
	url = git@github.com:thoughtbot/vim-rspec.git
[submodule "lib/zsh/oh-my-zsh"]
	path = lib/zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
